LFTR_APP_NAME="LFTR Next"
LFTR_HOST="0.0.0.0"
LFTR_PORT="8787"
LFTR_CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
LFTR_GOOGLE_MAPS_API_KEY="replace-me"
LFTR_POSTGIS_DSN=""
LFTR_POSTGIS_ENABLED="false"
LFTR_MOCK_STREAM_FPS="1"
LFTR_TARGET_STREAM_FPS="5-10"
LFTR_PROVIDER_MODE="hybrid"
LFTR_GFS_ENABLED="false"
LFTR_GFS_NCSS_BASE_URL="https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p25deg/latest.xml"
LFTR_GFS_TIMEOUT_SECONDS="8"
LFTR_GFS_TTL_SECONDS="900"
LFTR_GFS_MAX_GRID_POINTS="256"
LFTR_GFS_CACHE_DIR=".cache/gfs"
LFTR_RTOFS_ENABLED="false"
LFTR_RTOFS_NOMADS_BASE="https://nomads.ncep.noaa.gov/pub/data/nccf/com/rtofs/prod"
LFTR_RTOFS_TIMEOUT_SECONDS="8"
LFTR_RTOFS_TTL_SECONDS="900"
LFTR_RTOFS_CACHE_DIR=".cache/rtofs"
LFTR_RTOFS_DEPTH_LEVELS="surface"
LFTR_RTOFS_MAX_GRID_POINTS="256"
LFTR_RTOFS_PROVIDER_MODE="hybrid"
LFTR_POSTGIS_SCHEMA="lftr"
LFTR_SPATIAL_MODE="mock"
LFTR_SPATIAL_TILE_DEG="1.0"
LFTR_GEOMETRY_SIMPLIFY_GLOBAL="0.2"
LFTR_GEOMETRY_SIMPLIFY_REGIONAL="0.05"
LFTR_GEOMETRY_SIMPLIFY_LOCAL="0.005"
LFTR_CHL_ENABLED="false"
LFTR_CHL_PROVIDER="disabled"
LFTR_CHL_ERDDAP_BASE="https://coastwatch.pfeg.noaa.gov/erddap"
LFTR_CHL_DATASET_ID=""
LFTR_CHL_TTL_SECONDS="21600"
LFTR_CHL_CACHE_DIR="data/cache/chlorophyll"
LFTR_USGS_ENABLED="false"
LFTR_USGS_SOURCE_FAMILY="mock"
LFTR_USGS_CACHE_DIR="data/cache/usgs"
LFTR_USGS_TIMEOUT_SECONDS="30"
LFTR_USGS_MAX_FEATURES="5000"
LFTR_USGS_MIN_AREA_KM2_GLOBAL="5.0"
LFTR_USGS_MIN_AREA_KM2_REGIONAL="0.25"
LFTR_USGS_MIN_AREA_KM2_LOCAL="0.01"
LFTR_USGS_SIMPLIFY_GLOBAL="0.01"
LFTR_USGS_SIMPLIFY_REGIONAL="0.0025"
LFTR_USGS_SIMPLIFY_LOCAL="0.0005"
LFTR_USGS_ARCGIS_URL=""
LFTR_USGS_ARCGIS_LAYER=""
LFTR_USGS_GEOJSON_PATH=""
LFTR_USGS_SHAPEFILE_ZIP_PATH=""
LFTR_USGS_DEFAULT_BBOX="-125,32,-117,38"
LFTR_LIGHTNING_ENABLED="false"
LFTR_LIGHTNING_PROVIDER="mock"
LFTR_LIGHTNING_TTL_SECONDS="120"
LFTR_LIGHTNING_MAX_FLASHES="50"
LFTR_LIGHTNING_CACHE_DIR="data/cache/lightning"
