LFTR_APP_NAME="LFTR Next"
LFTR_HOST="0.0.0.0"
LFTR_PORT="8787"
LFTR_CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
LFTR_GOOGLE_MAPS_API_KEY="replace-me"
LFTR_POSTGIS_DSN=""
LFTR_POSTGIS_ENABLED="false"
LFTR_MOCK_STREAM_FPS="1"
LFTR_TARGET_STREAM_FPS="5-10"
LFTR_PROVIDER_MODE="hybrid"
LFTR_GFS_ENABLED="false"
LFTR_GFS_NCSS_BASE_URL="https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p25deg/latest.xml"
LFTR_GFS_TIMEOUT_SECONDS="8"
LFTR_GFS_TTL_SECONDS="900"
LFTR_GFS_MAX_GRID_POINTS="256"
LFTR_GFS_CACHE_DIR=".cache/gfs"
LFTR_RTOFS_ENABLED="false"
LFTR_RTOFS_NOMADS_BASE="https://nomads.ncep.noaa.gov/pub/data/nccf/com/rtofs/prod"
LFTR_RTOFS_TIMEOUT_SECONDS="8"
LFTR_RTOFS_TTL_SECONDS="900"
LFTR_RTOFS_CACHE_DIR=".cache/rtofs"
LFTR_RTOFS_DEPTH_LEVELS="surface"
LFTR_RTOFS_MAX_GRID_POINTS="256"
LFTR_RTOFS_PROVIDER_MODE="hybrid"
