LFTR_APP_NAME="LFTR Next"
LFTR_HOST="0.0.0.0"
LFTR_PORT="8787"
LFTR_CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"
LFTR_GOOGLE_MAPS_API_KEY="replace-me"
LFTR_POSTGIS_DSN=""
LFTR_POSTGIS_ENABLED="false"
LFTR_MOCK_STREAM_FPS="1"
LFTR_TARGET_STREAM_FPS="5-10"
